<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alquiler</title>
</head>

<body bgcolor="blue">
    <h1 align="center">GALERIA</h1>
    <h2 align="center">APARTAMENTOS</h2>
    <table align="center" border="1" width="50%" heigth="40% " cellpadding="6" cellspacing="1">
        <tr>
            <td>
                <img src="/static/img/1.jpg">
            </td>
            <td>
                <p>
                    TITLE:HERMOSA CASA EN ALQUILER
                    <br> TYPE:CASA
                    <br> ADDRESS:cll6#54-67
                    <br> ROOMS:6
                    <br> PRICE:1050000
                    <br> AREA:180MTS
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/img/2.jpg ">
            </td>
            <td>
                <p>
                    TITLE:HERMOSA CASA EN ALQUILER
                    <br> TYPE:CASA
                    <br> ADDRESS:cll6#54-67
                    <br> ROOMS:3
                    <br> PRICE:650000
                    <br> AREA:160MTS
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/img/7.jpg ">
            </td>
            <td>
                <p>
                    TITLE:HERMOSA CASA EN ALQUILER
                    <br> TYPE:CASA
                    <br> ADDRESS:cll10#84-67
                    <br> ROOMS:4
                    <br> PRICE:850000
                    <br> AREA:100MTS
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/img/5.jpg ">
            </td>
            <td>
                <p>
                    TITLE:HERMOSA CASA EN ALQUILER
                    <br> TYPE:CASA
                    <br> ADDRESS:cll6#54-67
                    <br> ROOMS:5
                    <br> PRICE:950000}
                    <br> AREA:150MTS
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/img/6.jpg ">
            </td>
            <td>
                <p>
                    TITLE:HERMOSA CASA EN ALQUILER
                    <br> TYPE:CASA
                    <br> ADDRESS:cll16#89-6
                    <br> ROOMS:5
                    <br> PRICE:1200000
                    <br> AREA:150MTS
                </p>
            </td>
        </tr>
    </table>
</body>

</html>